*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/java/com/example/ajdin/tracebrace/Locator.java
app/src/main/java/com/example/ajdin/tracebrace/Locator.java
app/src/main/java/com/example/ajdin/tracebrace/MapsActivity.java
app/src/main/java/com/example/ajdin/tracebrace/SPlashyy.java
